<h4 class="titleNav">
  <span>Saldos</span>
</h4>
<hr>
<div class="saldo-heard">
  <h4 class="heardTitle"><span>APRYSA.COM</span></h4>
  <h5 class="heard text-center"><span>Selecciona el plan ideal para ti</span></h5>
</div>
<div class="saldo-body">
  <div class="titleContent">
    <h3><i class="fa fa-shield icono"></i></h3>
    <h3 class="text-center">Publica con confianza</h3>
    <span class="text-center">Su producto estara seguro, no compartiremos tu información.</span>
  </div>
  <div class="titleContent">
    <h3><i class="fa fa-inbox icono"></i></h3>
    <h3 class="text-center">Encuentra el producto perfecto</h3>
    <span class="text-center">Nuestra aplicación encontro lo que necesitabas.</span>
  </div>
  <div class="titleContent">
    <h3><i class="fa fa-smile-o icono"></i></h3>
    <h3 class="text-center">Disfruta tu producto</h3>
    <span class="text-center">Su producto, un producto adecuado, se encontraba con nosotros.</span>
  </div>
</div>

<div class="saldo-items">
  <div class="item">
    <img src="../../../../../assets/img/imgSaldos/pagar.png">
    <h3 class="saldosH3">{{ 'Básico' }}</h3>
    <h3 class="saldosH3">{{ '10000' | currency: "COP":"symbol-narrow" }}</h3>
    <h5 class="text-muted text-center"><span>Puedes publicar minimo 3 productos.</span></h5>
    <button class="button">
      Recargar
      <div class="button__horizontal"></div>
      <div class="button__vertical"></div>
    </button>
  </div>
  <div class="item">
    <img src="../../../../../assets/img/imgSaldos/investor.png">
    <h3 class="saldosH3">{{ 'Estándar' }}</h3>
    <h3 class="saldosH3">{{ '50000' | currency: "COP":"symbol-narrow" }}</h3>
    <h5 class="text-muted text-center"><span>Puedes publicar minimo 10 productos.</span></h5>
    <button class="button">
      Recargar
      <div class="button__horizontal"></div>
      <div class="button__vertical"></div>
    </button>
  </div>
  <div class="item">
    <img src="../../../../../assets/img/imgSaldos/cartera.png">
    <h3 class="saldosH3">{{ 'Premium' }}</h3>
    <h3 class="saldosH3">{{ '100000' | currency: "COP":"symbol-narrow" }}</h3>
    <h5 class="text-muted text-center"><span>Puedes publicar los productos que tu quieras.</span></h5>
    <button class="button">
      Recargar
      <div class="button__horizontal"></div>
      <div class="button__vertical"></div>
    </button>
  </div>
</div>