<div class="imagenes">
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image1" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image1" type="file" class="file" accept="image/*"
          (change)="PreViewImage1($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image2" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image2" type="file" class="file" accept="image/*"
          (change)="PreViewImage2($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image3" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image3" type="file" class="file" accept="image/*"
          (change)="PreViewImage3($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image4" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image4" type="file" class="file" accept="image/*"
          (change)="PreViewImage4($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image5" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image5" type="file" class="file" accept="image/*"
          (change)="PreViewImage5($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image6" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image6" type="file" class="file" accept="image/*"
          (change)="PreViewImage6($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image7" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image7" type="file" class="file" accept="image/*"
          (change)="PreViewImage7($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image8" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image8" type="file" class="file" accept="image/*"
          (change)="PreViewImage8($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image9" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image9" type="file" class="file" accept="image/*"
          (change)="PreViewImage9($event.target.files)" />
      </div>
    </div>
  </div>
  <div class="img-item text-center">
    <div class="img-contenedor">
      <div><img [src]="image10" />
      </div>
      <div class="estilo text-center">
        <p class="p_inputFile">Agregar&nbsp;
          <i class="fa fa-image"></i>
        </p>
        <input ngModel name="image10" type="file" class="file" accept="image/*"
          (change)="PreViewImage10($event.target.files)" />
      </div>
    </div>
  </div>
</div>
<div class="GuardarImages">
  <button mat-button (click)="UpdateImages()" class="btnGuardarImages">Guardar</button>
</div>