.Body {
  background-color: #f2f2f2;
}
// menu Nav
.titleBlue {
  color: #4e65f8;
  font-weight: 1000;
}

.titleNav {
  width: auto;
  color: #fc4206;
  cursor: pointer;
}
.title {
  font-size: 1.5em;
  color: #fc4206;
}

nav:hover .titleNav {
  color: #4e65f8;
}
.titulo {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}

nav {
  font-weight: 1000;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.9;
  transition: 0.5s;
  color: black;
  margin-bottom: 10px;
}
nav:hover {
  background-color: rgb(245, 244, 244);
  color: white;
  box-shadow: 2px 2px 10px rgb(216, 213, 213);
  opacity: 2;
}
nav:hover button {
  background-color: rgb(241, 238, 238);
  color: black;
  box-shadow: 2px 2px 10px rgb(216, 213, 213);
}

// Global

.titulo {
  margin-top: 30px;
  margin-bottom: 30px;
}
// boton
.sombrasBTN:hover {
  box-shadow: 2px 2px 15px rgb(255, 255, 255), -0.1px -0.1px 3px rgb(255, 255, 255);
  color: white;
}
.sombrasBTN {
  border-radius: 100px;
  color: dimgrey;
}

.iconoSing {
  color: rgb(93, 169, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 34px;
  background: white;
  color: black;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

// iconos
.iconoFacebook {
  color: #4267b1;
  padding: 5px;
  border-radius: 100px;
  background-color: #f2fcfe;
}
.iconoGamil {
  color: #db493c;
  padding: 5px;
  background-color: #f2fcfe;
  border-radius: 100px;
}

.iconoTwitter {
  color: #5ca9dd;
  padding: 5px;
  background-color: #f2fcfe;
  border-radius: 100px;
}

.rebote:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

.rebote {
  transition: 0.4s;
}

.iconosLogin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.caja__iconos {
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.centro {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 10px;
}
.centro .borde {
  border-color: darkcyan;
}

.rebote:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

.rebote {
  transition: 0.4s;
}

.iconoFacebook {
  color: #4267b1;
  border-radius: 10px;
  background-color: white;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg)
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.borde__icono {
  padding: 23px;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.register-button {
  height: 60px;
  border-radius: 100px;
  background: linear-gradient(270deg, rgba(255, 54, 5, 1) 0%, rgba(255, 51, 48, 1) 100%);
  width: 90%;
  margin: auto;
  color: white;
  font-size: 1.5em;
}

div.form-group{
  align-self: stretch;
  input{
    padding:20px;
    border-radius: 100px;
    font-size: 1.2em;
    background-color: #F2F2F2;
    border-width: 0;
  }
  input:focus{
    background-color:white
  }
}
