<div class="Body">
  <nav class="navbar navbar-expand-lg  sticky-top">
    <h4 class="titleNav">
      <span [routerLink]="['/home']">
        {{'portalmayorista.com' | uppercase}}</span>
    </h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-ellipsis-h"></i>
    </button>

    <div class="collapse navbar-collapse text-xl-left" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button [routerLink]="['/login']" type="button" class="btn btn-light-outline sombrasBTN">
          <i class="fa fa-sign-in iconoSing"></i> Iniciar Sesión
        </button>
      </form>
    </div>
  </nav>
  <!--Singup-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="form-container col-md-7">
        <div class="col-md-12 text-center">
          <h3 class="title">Crear cuenta</h3>
        </div>
        <!-- social -->
        <div class="form-group justify-content-center container__elementos">
          <div class="caja__iconos">
            <div class="centro">
              <i class="
                          borde__icono
                          fa fa-facebook-square
                          iconoFacebook
                          rebote
                        "></i>
            </div>
            <div class="centro borde">
              <i class="borde__icono fa fa-google iconoGoogle rebote"></i>
            </div>
          </div>
        </div>
        <!-- social -->
        <!--Seccion 1-->


        <div class="form-group">
          <!-- <label><i class="fa fa-user-circle"></i> Primer nombre</label> -->
          <input [(ngModel)]="user.first_name" type="text" class="form-control form-control-sm" name="first_name"
            placeholder="Primer nombre" />
        </div>
        <div class="form-group">
          <!-- <label for="first_surname"><i class="fa fa-user-circle"></i> Primer apellido</label> -->
          <input [(ngModel)]="user.first_surname" type="text" class="form-control form-control-sm" name="first_surname"
            placeholder="Primer apellido" />
        </div>
        <!--Seccion 3-->

        <div class="form-group">
          <input placeholder="Email" [(ngModel)]="user.email" class="form-control form-control-sm" type="text" value=""
            name="email" />
        </div>
        <div class="form-group">

          <input placeholder="password" [(ngModel)]="user.password" class="form-control form-control-sm" type="password"
            value="" name="password" />
        </div>
        <div class="form-group">
          <input placeholder="Confirmar" [(ngModel)]="repasswrod" class="form-control form-control-sm" type="password"
            value="" name="Repassword" />
        </div>

        <button (click)="Singup()" type="button" class="register-button">
          Registrarse
        </button>

      </form>
    </div>
  </div>
</div>