<div *ngIf="listaForm === false" class="form-group input-group-sm mx-sm-2 mb-1 main">
  <button class="btn btn-success btn-sm" (click)="listaForm = !listaForm">Atras</button>
</div>
<app-form *ngIf="listaForm === false" [config]="listInputs" [actions]="listActions" [title]="'Crear categoria'">
</app-form>

<div *ngIf="listaForm === true">
  <div class="list-header">
    <span class="list-title">Lista de categorias</span>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="form-group input-group-sm mx-sm-2 mb-1">
      <button class="btn btn-success btn-sm" (click)="listaForm = !listaForm">Crear Categoria</button>
    </div>
    <div class="form-group input-group-sm mx-sm-2 mb-1">
      <input [(ngModel)]="search" name="description" type="" placeholder="Buscar categoria"
        class="form-control input-sm" id="recipient-name">
    </div>
  </div>
  <div class="tableCategorias mat-elevation-z8">
    <table mat-table [dataSource]="categories | orderCategory:search">
      <label for=""></label>
      <!-- Name Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let items">
          <div class="estilo" matTooltip="Editar imagen" matTooltipPosition="right">
            <input alt="your image" type="file" #Image class="file" (change)="OnSubmit(items.id ,$event.target.files)"
              title="" />
            <img id="blah"
              [src]="items.image === null ? '../../../../../assets/img/img_Default/anadir1.png' : urlImgs+items.image"
              alt="your image" class="imgPerfil">
          </div>

        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let items"> <span class="text-primary">{{items.name}}</span> </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let items"> {{items.description}} </td>
      </ng-container>
      <ng-container matColumnDef="sub-categorias">
        <th mat-header-cell *matHeaderCellDef> Sub-Categorias </th>
        <td mat-cell *matCellDef="let items"> <span [matBadge]="items.sub_categories.length || '0'"
            matBadgeOverlap="false" matBadgeColor="">Sub-Categorias</span> </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let items">
          <button (click)="capturaUpdate(items.id, items.name, items.description)" class="btn btnEdit rebote"
            data-target="#modalEdit" data-toggle="modal">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;
          <button (click)="capturaDelete(items.id, items.name)" data-target="#modalElimnar" data-toggle="modal"
            class="btn btnDelete rebote">
            <mat-icon>delete</mat-icon>
          </button>&nbsp;
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
    </table>
  </div>
</div>




<!-- Modal Eliminar -->
<div class="modal fade" id="modalElimnar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-muted" id="exampleModalCenterTitle">
          <mat-icon>delete</mat-icon>
        </h5>
      </div>
      <div class="modal-body">
        <span aria-hidden="true">
          <h5 class="">Eliminar categoria <span class="text-primary">{{nameCat}}</span>
          </h5>
        </span>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-outline-secondary rebote" data-dismiss="modal">Cancelar</button>
        <button (click)="deleteCategory()" data-dismiss="modal" type="button"
          class="btn btn-success rebote">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Actualizar -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEdit">
          <mat-icon>edit</mat-icon>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre</label>
            <input [(ngModel)]="nameCat" name="name" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Descripción</label>
            <input [(ngModel)]="DescriptionCat" name="description" type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rebote" data-dismiss="modal">Cancelar</button>
        <button (click)="UpdateCategory()" data-dismiss="modal" type="button"
          class="btn btn-success rebote">Guardar</button>
      </div>
    </div>
  </div>
</div>