<!--Header-->
<div class="container__header">
  <div >
    <h4 class="titleNav">
      
        <span [routerLink]="['/home']"> {{ "portalmayorista.com" | uppercase }}</span>
   
    </h4>
  </div>
  <div class="">
    <form class="form-inline my-2 my-lg-0">
      <button
        [routerLink]="['/login/signup']"
        type="button"
        class="btn btn-light-outline"
      >
        <i class="fa fa-sign-in iconoSing"></i> Registrate
      </button>
    </form>
    <div
      class="collapse navbar-collapse text-xl-left"
      id="navbarSupportedContent"
    ></div>
  </div>
</div>
<div class="Body">
 <!--Login-->
  <div class="container__login">
    <div class="container">
      <div class="row justify-content-center">
        <form class="form-container container__fondo titulo">
          <div class="form-group">
            <div class="container">
              <div class="column">
                <div class="col-md-12 text-center">
                  <h6 class="color__titulo">Iniciar Sesión Con</h6>
                </div>
                <div
                  class="form-group justify-content-center container__elementos"
                >
                  <div class="caja__iconos">
                    <div class="centro">
                      <i
                        class="
                          borde__icono
                          fa fa-facebook-square
                          iconoFacebook
                          rebote
                        "
                      ></i>
                    </div>
                    <div class="centro borde">
                      <i
                        class="borde__icono fa fa-google iconoGoogle rebote"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
              <div><hr /></div>
            </div>
            <div class="form-group">
              <label for="email"></label>
              <input
                [(ngModel)]="email"
                type="email"
                class="form-control"
                name="Email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="password"></label>
              <input
                [(ngModel)]="password"
                type="password"
                class="form-control"
                name="password"
              />
            </div>
          </div>
          <div class="resetPassword">
            <span class="badge" (click)="recuperar = !recuperar"
              >Olvide Mi Contraseña</span
            >
            <div>
              <span class="badge" (click)="recuperar = !recuperar"
                >Recordarme</span
              >
            </div>
          </div>
          <div class="form-group" *ngIf="recuperar">
            <br />
            <label for="recoverPass">Correo del usuario</label>
            <input
              [(ngModel)]="correoReset"
              type="email"
              class="form-control"
              color__fuente
              name="correoReset"
              id="correoReset"
              aria-describedby="emailHelp"
              placeholder="Correo"
            />
            <small id="emailHelp" class="form-text"
              >Se enviara un correo con los pasos para recuperar la
              cuenta.</small
            >
            <br />
            <button
              (click)="ResetPasword()"
              type="button"
              class="btn btn-block btn-light-outline sombrasBTN"
            >
              <i class="fa fa-undo"></i> Recuperar
            </button>
            <!-- <button [routerLink]="[ '/login/resetpassword',1]" type="button" class="btn btn-block btn-light-outline
          sombrasBTN">
          <i class="fa fa-undo"></i> page recuperar
        </button> -->
          </div>

          <button
            (click)="login()"
            type="button"
            class="btn btn-block btn-light-outline sombrasBTN class__botton"
          >
            Iniciar Sesiòn
          </button>
          <button
            [routerLink]="['/login/signup']"
            type="button"
            class="btn btn-block btn-light-outline sombrasBTN class__botton"
          >
            <i class="fa fa-user-plus"></i> Crear Cuenta
          </button>
          <div class="color__fuente__ayuda">
            <div class="alinear__fuente__ayuda"><a href="/">Ayuda</a></div>
            <div class="alinear__fuente__ayuda">
              <a href="/">Privacidad y Condiciones</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
