//login
.Body {
  //background: white; /* fallback for old browsers */
  background-color: rgb(254, 254, 255);
}
.container_header h4 {
  color: rgb(212, 66, 6);
  background-color: rgb(206, 36, 36);

  display: flex;
  justify-content: center;
  width: 100%;
}
.container__header {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  justify-items: center;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.titleNav {
  width: auto;
  color: #fc4206;
}

.container__login {
  background-color: rgb(242, 242, 242);
}

.container__fondo {
  background-color: rgb(242, 242, 242);
}

//color Titulo

.color__titulo {
  color: rgb(82, 81, 81);
}
// menu Nav
.titleBlue {
  font-weight: 1000;
}

// button:focus {
//   border-color: #4E65F8
// }
.titleNav {
  color: #fc4206;
  font-weight: 1000;
  display: inline;
  align-items: center;
}

nav:hover .titleNav {
}

//fuente texto "Olvide COntraseña"

.color__fuente {
  color: rgb(255, 66, 6);
}
.color__fuente__ayuda {
  padding-left: 45px;

  color: rgb(122, 123, 131);
}
.alinear__fuente__ayuda {
  display: inline;
  padding: 15px;
}
//Botones
.class__botton {
  background-color: rgb(252, 66, 6);
}

nav {
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0.199);
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.9;
  transition: 0.5s;
}
nav:hover {
  background-color: rgb(245, 244, 244);
  color: white;
  box-shadow: 2px 2px 10px rgb(216, 213, 213);
  opacity: 2;
}
nav:hover button {
  background-color: rgb(241, 238, 238);
  color: black;
  box-shadow: 2px 2px 10px rgb(216, 213, 213);
}
// global

.titulo {
  margin-top: 30px;
  margin-bottom: 30px;
  color: grey;
  border: rgb(199, 195, 195) 1px solid;
  box-shadow: -1px -1px gray;
}

// boton
.sombrasBTN:hover {
  box-shadow: 2px 2px 15px rgb(255, 255, 255),
    -0.1px -0.1px 3px rgb(255, 255, 255);
  color: white;
}
.sombrasBTN {
  border-radius: 100px;
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
}

.form-container {
  border-radius: 10px;
  padding: 34px;
  background: white;
  color: white;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: rgb(242, 242, 242);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.iconoUser {
  width: 60px;
  height: 60px;
}

.resetPassword {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: rgb(255, 66, 6);
  vertical-align: top;
}

.resetPassword:hover {
  align-items: center;
  background-color: #f59372;
  color: white;
  color: rgb(255, 66, 6);
}
//Recuperar contraseña

// iconos

.caja__iconos {
  display: flex;
  justify-content: center;
}
.centro {
  justify-content: center;
  width: 100px;
  margin: 10px;
}
.centro .borde {
  border-color: darkcyan;
}
.centro i {
  font-size: 60px;
}

.borde__icono {
  padding: 23px;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.iconoFacebook {
  color: #4267b1;
  border-radius: 10px;
  background-color: white;
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.iconoTwitter {
  color: #5ca9dd;
  padding: 5px;
  background-color: #f2fcfe;
  border-radius: 100px;
}

.rebote:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

.rebote {
  transition: 0.4s;
}

header {
  padding-left: 30px;
  padding-right: 30px;
  // background-color: rgb(241, 238, 238);
  padding-top: 25px;
}

// iconos
.iconoDolar {
  color: green;
}
.iconoLocalizacion {
  color: rgb(93, 169, 255);
}
.iconoCategorias {
  color: rgb(255, 156, 74);
}
.iconoSing {
  color: rgb(93, 169, 255);
}
.iconoMas {
  color: rgb(255, 156, 74);
}
.iconoMessage {
  color: rgb(93, 169, 255);
}
